@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600;700&family=League+Spartan:wght@400;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "League Spartan", sans-serif;
}
body {
  height: 100vh;
  width: 100vw;

	background-color: #7231f4;
  background: linear-gradient(0deg, rgb(80, 14, 179) 0%, rgb(137, 26, 196) 100%); 

  display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.wrapper {
	box-sizing: content-box;
	width: 26.87em;
	padding: 2.5em 3em;
	background-color: #ffffff;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	border-radius: 0.6em;
	box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}
.game-container {
	position: relative;
	width: 100%;
	display: grid;
	gap: 0.6em;
}
.stats-container {
	text-align: left;
	margin-bottom: 1.2em;
}
.stats-container span {
	font-weight: 600;
  font-size: 1.2em;
}
.card-container {
	position: relative;
	width: 6.25em;
	height: 6.25em;
	cursor: pointer;
}
.card-before,
.card-after {
	position: absolute;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 4px solid #761cc5;
	transition: transform 0.7s ease-out;
	backface-visibility: hidden;
}
.card-before {
	background-color: #dfdee2;
	font-size: 2.8em;
	font-weight: 600;
}
.card-after {
	background-color: #ffffff;
	transform: rotateY(180deg);
}
.card-container.flipped .card-before {
	transform: rotateY(180deg);
}
.card-container.flipped .card-after {
	transform: rotateY(0deg);
}
.controls-container {
	/* position: absolute; */
	/* top: 0; */
  display: flex;
  flex-direction: column;
  gap: 1em;
}
button {
	border: none;
	border-radius: 0.3em;
	padding: 1em 1.5em;
	cursor: pointer;
}
#stop {
	font-size: 1.1em;
	display: block;
	margin: 1.1em auto 0 auto;
	background-color: #000000;
	color: #ffffff;
}
.controls-container button {
	font-size: 1.3em;
	box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
  color: #370c5e;
}
.hide {
	display: none;
}
#result {
	text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#result * {
  margin: 0;
  padding: 0;
  color: white;
}
.spacer {
  height: 1em;
}
#result h2 {
	font-size: 3em;
  font-family: "Barlow Condensed";
}
#result h4 {
	font-size: 1.6em;
}

#result p {
  font-size: 1.3em;
}
.image {
  object-fit: cover;
}

.matched .card-after {
  background-color: rgba(9, 9, 109, 0.5)
}

.matched img {
  opacity: 0.45;
  /* box-shadow: inset 0 0 99999px; */
}

#header {
  position: absolute;
  top: 6%;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 100000000000;
}

#header * {
  font-family: "Barlow Condensed";
  text-transform: capitalize !important;
}

#header h1 {
  font-size: 3.5em;
}

#header h3 {
  font-size: 2em;
}

.controls-container p {
  font-size: 1.5em;
  color: white;
  margin-bottom: 1em;
}